.page {
  width: 1280px;
  margin: 0;
  color: #ffffff;
  background-color: #2a2c2f;
  font-family: "Inter-Regular";
}

@media (max-width: 768px) {
  .page {
    max-width: 768px;
    margin: 0;
  }
}
@media (max-width: 320px) {
  .page {
    max-width: 320px;
    margin: 0;
  }
}
